<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns = "http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">




    <servlet>
        <servlet-name>Ch3 Beer</servlet-name>
        <servlet-class>com.zz.web.BeerSelect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch3 Beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Ch3 Beer</servlet-name>
        <url-pattern>/Beer/SelectBeer.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BeerParamTests</servlet-name>
        <servlet-class>com.zz.web.InitParams</servlet-class>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>zoompoppy@outlook.com</param-value>
        </init-param>
        <init-param>
            <param-name>mainEmail</param-name>
            <param-value>adsfads@zz.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeerParamTests</servlet-name>
        <url-pattern>/Tester.do</url-pattern>
    </servlet-mapping>
    <!--&lt;!&ndash;//上下文初始化参数&ndash;&gt;-->
    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>zoompoppy@outlook.com</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ListenerTester</servlet-name>
        <url-pattern>/contextListener</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListenerTester</servlet-name>
      <servlet-class>com.zz.web.ListenerTest</servlet-class>
    </servlet>
    <context-param>
        <param-name>breed</param-name>
        <param-value>Great Dean</param-value>
    </context-param>

    <listener>
        <listener-class>com.zz.web.MyServletContextListener</listener-class>
    </listener>

    <!--请求分配-->
    <servlet>
        <servlet-name>ResDispathcer</servlet-name>
        <servlet-class>com.zz.web.ReqDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResDispathcer</servlet-name>
        <url-pattern>/aaa</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>baidu</param-name>
        <param-value>/a</param-value>
    </context-param>
    <!--会话-->
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>com.zz.web.SessionTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>

    <!--cookie-->
    <servlet>
        <servlet-name>cookietest</servlet-name>
        <servlet-class>com.zz.web.CookieTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookietest</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>

    <listener>
    <listener-class>com.zz.web.BeerAttributeListener</listener-class>
    </listener>
    <listener>
    <listener-class>com.zz.web.BeerSessionCounter</listener-class>
    </listener>
    <!--<listener>-->
    <!--<listener-class>com.zz.web.Dog</listener-class>-->
    <!--</listener>-->

    <servlet>
        <servlet-name>hobby</servlet-name>
        <servlet-class>com.zz.web.Hobby</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hobby</servlet-name>
        <url-pattern>/HobbyPage.do</url-pattern>
    </servlet-mapping>
</web-app>
